.Home{
    padding: 20px;
  
}

.Plants{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Plants > *{
    flex: 1 1 calc(25% - 20px);
    min-width: 300px;
}


@media only screen and (max-width: 768px) {

    .Home{
        padding: 10px;
    }

}